<h2 mat-dialog-title>{{appLabel.makeClaim.title}}</h2>
<mat-dialog-content>
  <mat-horizontal-stepper [linear]="false">
    <mat-step [stepControl]="basicFormGroup">
      <form [formGroup]="basicFormGroup">
        <ng-template matStepLabel>{{appLabel.makeClaim.step1.title}}</ng-template>
        <mat-form-field>
          <input matInput placeholder="{{appLabel.makeClaim.step1.referenceNumber}}" formControlName="insuranceRef" required>
          <mat-error>{{appLabel.makeClaim.warningForRequiredField}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="{{appLabel.makeClaim.step1.reasonForClaim}}" formControlName="claimReason" required>
            <mat-option *ngFor="let reason of claimMainReason" [value]="reason.value">
              {{ reason.label }}
            </mat-option>
          </mat-select>
          <mat-error>{{appLabel.makeClaim.warningForRequiredField}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="claimReasonSelected">
          <mat-select placeholder="{{appLabel.makeClaim.step1.preciseReason}}" formControlName="exactReason" required>
            <mat-option *ngFor="let reason of claimReasonGrouped[selectedReason]" [value]="reason.value">
              {{ reason.label }}
            </mat-option>
          </mat-select>
          <mat-error>{{appLabel.makeClaim.warningForRequiredField}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="{{appLabel.makeClaim.step1.incidentDate}}" formControlName="incidentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button class="pull-right" mat-raised-button color="primary" matStepperNext>{{appLabel.makeClaim.nextButton}}</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="documentFormGroup">
      <form [formGroup]="documentFormGroup">
        <ng-template matStepLabel>{{appLabel.makeClaim.step2.title}}</ng-template>
        <!-- Temporarly removed Invoice and Id proof -->
        <!-- <mat-form-field *ngIf="documentFormGroup.get('idProof')">
          <app-file-input formControlName="idProof" placeholder="{{appLabel.commonLabels.idProof}}" required></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('idProof').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('idProof').hasError('maxContentSize')">
              {{documentFormGroup.get('idProof')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('idProof').hasError('fileType')">
              {{documentFormGroup.get('idProof')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="documentFormGroup.get('invoice')">
          <app-file-input formControlName="invoice" placeholder="{{appLabel.commonLabels.invoice}}" required></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('invoice').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('invoice').hasError('maxContentSize')">
              {{documentFormGroup.get('invoice')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('invoice').hasError('fileType')">
              {{documentFormGroup.get('invoice')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field> -->
        <mat-form-field *ngIf="documentFormGroup.get('Claim_FIR')">
          <app-file-input formControlName="Claim_FIR" placeholder="{{appLabel.commonLabels.fir}}" required></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('Claim_FIR').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('Claim_FIR').hasError('maxContentSize')">
              {{documentFormGroup.get('Claim_FIR')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('Claim_FIR').hasError('fileType')">
              {{documentFormGroup.get('Claim_FIR')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="documentFormGroup.get('Claim_ExpenseReciept')">
          <app-file-input formControlName="Claim_ExpenseReciept" placeholder="{{appLabel.commonLabels.expenseReciept}}" required></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('Claim_ExpenseReciept').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('Claim_ExpenseReciept').hasError('maxContentSize')">
              {{documentFormGroup.get('Claim_ExpenseReciept')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('Claim_ExpenseReciept').hasError('fileType')">
              {{documentFormGroup.get('Claim_ExpenseReciept')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="documentFormGroup.get('Claim_HospitalReport')">
          <app-file-input formControlName="Claim_HospitalReport" placeholder="{{appLabel.commonLabels.hospitalReport}}" required></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('Claim_HospitalReport').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('Claim_HospitalReport').hasError('maxContentSize')">
            {{documentFormGroup.get('Claim_HospitalReport')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('Claim_HospitalReport').hasError('fileType')">
              {{documentFormGroup.get('Claim_HospitalReport')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="documentFormGroup.get('DevicePhoto')">
          <app-file-input formControlName="DevicePhoto" placeholder="{{appLabel.commonLabels.devicePhotos}}" required multiple></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('DevicePhoto').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('DevicePhoto').hasError('maxContentSize')">
              {{documentFormGroup.get('DevicePhoto')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('DevicePhoto').hasError('fileType')">
              {{documentFormGroup.get('DevicePhoto')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="documentFormGroup.get('EntityPhoto')">
          <app-file-input formControlName="EntityPhoto" placeholder="{{appLabel.commonLabels.entityPhotos}}" required multiple></app-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="documentFormGroup.get('EntityPhoto').hasError('required')">
              {{appLabel.makeClaim.warningForRequiredDocuments}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('EntityPhoto').hasError('maxContentSize')">
              {{documentFormGroup.get('EntityPhoto')?.getError('maxContentSize').errormessage}}
          </mat-error>
          <mat-error *ngIf="documentFormGroup.get('EntityPhoto').hasError('fileType')">
              {{documentFormGroup.get('EntityPhoto')?.getError('fileType').errormessage}}
          </mat-error>
        </mat-form-field>
        <div>
          <button class="pull-right m-l-10" mat-raised-button color="primary" (click)="checkDocumets()" matStepperNext>{{appLabel.makeClaim.nextButton}}</button>
          <button class="pull-right" mat-raised-button color="warn" matStepperPrevious>{{appLabel.makeClaim.backButton}}</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="videoFormGroup">
      <app-video-record (onSubmission)="onRecordComplete($event)"></app-video-record>
      <form [formGroup]="videoFormGroup">
        <ng-template matStepLabel>{{appLabel.makeClaim.step3.title}}</ng-template>
        <mat-form-field [hidden]="true">
          <input matInput placeholder="{{appLabel.commonLabels.video}}" formControlName="isVideoProofSubmitted" required>
          <mat-error>{{appLabel.makeClaim.warningForRequiredField}}</mat-error>
        </mat-form-field>
        <div>
          <button class="pull-right m-l-10" mat-raised-button color="primary" (click)="checkVideo()" matStepperNext>{{appLabel.makeClaim.nextButton}}</button>
          <button class="pull-right" mat-raised-button color="warn" matStepperPrevious>{{appLabel.makeClaim.backButton}}</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form *ngIf="!submitting">
        <ng-template matStepLabel>{{appLabel.makeClaim.step4.title}}</ng-template>
        <div *ngIf="documentFormGroup.get('idProof') && documentFormGroup.get('idProof').value" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.idProof}} - {{getFileName('idProof')}}</span>
            <span *ngIf="isUpLoading('idProof')">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('idProof')" [mode]="'determinate'" [value]="uploadProgress.idProof" color="warn"
              [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="uploadProgress.idProof == 100" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngIf="documentFormGroup.get('invoice') && documentFormGroup.get('invoice').value" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.invoice}} - {{getFileName('invoice')}}</span>
            <span *ngIf="isUpLoading('invoice')">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('invoice')" [mode]="'determinate'" [value]="uploadProgress.invoice" color="warn"
              [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="uploadProgress.invoice == 100" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngIf="documentFormGroup.get('Claim_FIR') && documentFormGroup.get('Claim_FIR').value" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.fir}} - {{getFileName('Claim_FIR')}}</span>
            <span *ngIf="isUpLoading('Claim_FIR')">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('Claim_FIR')" [mode]="'determinate'" [value]="uploadProgress.Claim_FIR" color="warn"
              [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="uploadProgress.Claim_FIR == 100" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngIf="documentFormGroup.get('Claim_ExpenseReciept') && documentFormGroup.get('Claim_ExpenseReciept').value" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.expenseReciept}} - {{getFileName('Claim_ExpenseReciept')}}</span>
            <span *ngIf="isUpLoading('Claim_ExpenseReciept')">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('Claim_ExpenseReciept')" [mode]="'determinate'" [value]="uploadProgress.Claim_ExpenseReciept"
              color="warn" [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="uploadProgress.Claim_ExpenseReciept == 100" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngIf="documentFormGroup.get('Claim_HospitalReport') && documentFormGroup.get('Claim_HospitalReport').value" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.hospitalReport}} - {{getFileName('Claim_HospitalReport')}}</span>
            <span *ngIf="isUpLoading('Claim_HospitalReport')">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('Claim_HospitalReport')" [mode]="'determinate'" [value]="uploadProgress.Claim_HospitalReport"
              color="warn" [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="uploadProgress.Claim_HospitalReport == 100" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngFor="let progress of getFileList('DevicePhoto'); let index = index" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.devicePhotos}} - {{getFileName('DevicePhoto', index)}}</span>
            <span *ngIf="isUpLoading('DevicePhoto', index)">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('DevicePhoto', index)" [mode]="'determinate'" [value]="uploadProgress.DevicePhoto[index]"
              color="warn" [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="isUploadingCompleted('DevicePhoto', index)" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngFor="let progress of getFileList('EntityPhoto'); let index = index" class="progress-container">
          <li>
            <span>{{appLabel.commonLabels.entityPhotos}} - {{getFileName('EntityPhoto', index)}}</span>
            <span *ngIf="isUpLoading('EntityPhoto', index)">{{appLabel.commonLabels.uploading}}</span>
            <mat-progress-spinner *ngIf="isUpLoading('EntityPhoto', index)" [mode]="'determinate'" [value]="uploadProgress.EntityPhoto[index]"
              color="warn" [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="isUploadingCompleted('EntityPhoto', index)" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div *ngIf="uploadProgress.Claim_VideoURL" class="progress-container">
          <li>
            <span>{{appLabel.makeClaim.step4.videoUploadProgressLabel}}</span>
            <mat-progress-spinner *ngIf="uploadProgress.Claim_VideoURL != 100" [mode]="'determinate'" [value]="uploadProgress.Claim_VideoURL"
              color="warn" [strokeWidth]="4" [diameter]="32"></mat-progress-spinner>
            <i *ngIf="uploadProgress.Claim_VideoURL == 100" class="fa fa-check-circle-o" style="color:green"> &nbsp;{{appLabel.commonLabels.uploadCompleted}}</i>
          </li>
        </div>
        <div>
          <button class="pull-right" *ngIf="!uploading" (click)="makeClaimRequest()" mat-raised-button color="primary">{{appLabel.makeClaim.step4.submitButton}}</button>
        </div>
      </form>
      <mat-card class="col-sm-12 col-md-12 loader-container" *ngIf="submitting">
        <mat-progress-spinner class="loader" mode="indeterminate"></mat-progress-spinner>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-card class="col-sm-12 col-md-12" *ngIf="isLoading">
    <mat-progress-spinner class="loader" mode="indeterminate"></mat-progress-spinner>
  </mat-card>
</mat-dialog-content>

<!-- <mat-dialog-actions class="pull-right">
  <button mat-raised-button color="primary" (click)="dialogRef.close()">Proceed</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Not Now</button>
</mat-dialog-actions> -->