<div class="row">
  <mat-card class="col-xs-12 col-md-12">
    <video #video class="video"></video>
    <div class="video-controls">
      <button *ngIf="!isRecording" mat-raised-button color="primary" (click)="startRecording()"> Record </button>
      <button *ngIf="isRecording" mat-raised-button color="primary" (click)="stopRecording()"> Stop</button>
      <button *ngIf="isRecordingCompleted" mat-raised-button color="primary" (click)="submitRecording()"> Submit</button>
    </div>
  </mat-card>
</div>