<div class="modal-dialog">
  <div *ngIf="!loading" class="loginmodal-container" >
    <h2>Login With Your Social Account</h2>
    <br>
    <button mat-raised-button color="primary" (click)="loginWithTwitter()">
      <i class="fa fa-twitter" aria-hidden="true"></i> Login With Twitter
    </button>

    <button mat-raised-button class="facebook" (click)="loginWithFB()">
      <i class="fa fa-facebook" aria-hidden="true"></i> Login With Facebook
    </button>

    <!-- <button mat-raised-button class="facebook" (click)="loginDirectlyToFB()">
      <i class="fa fa-facebook" aria-hidden="true"></i> FB Test Login
    </button> -->

  </div>
  <div *ngIf="loading" class="loginmodal-container">
    <h2>Please wait while we configure your profile</h2>
    <mat-progress-spinner class="loader"  mode="indeterminate"></mat-progress-spinner>
  </div>
</div>