<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
    <div class="profile-info" style="margin-top: 50px">
      <a [routerLink]="['/my-profile']" class="logo">
        <img [src]="userData.photoURL" class="user-avatar" />
      </a>
      <div>{{userData.displayName}}</div>
    </div>
    <a [routerLink]="['/my-home']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-home"></i>&nbsp;{{ 'Home'}}
    </a>
    <a [routerLink]="['/my-claims']" [routerLinkActive]="['router-link-active']"  class="list-group-item">
      <i class="fa fa-fw fa-life-ring"></i>&nbsp;{{ 'Claims'}}
    </a>
    <!-- <a [routerLink]="['/my-profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Profile'}}
    </a> -->
  </ul>
</nav>