<div class="container">
  <div class="row">
    <div *ngFor="let claim of claims" class="col-sm-12 col-md-6 card-container">
      <mat-card>
        <mat-card-subtitle class="title-color">
          <span>#{{claim.ref_no }}</span>
          <span class="p-l-10">
            <i class="fa fa-calender"></i>
            <span> {{claim.date_of_claim}} </span>
          </span>
          <span class="p-l-10">
            {{appLabels.commonLabels.claimReason}} : <span style="color: red">{{issuelabel[claim.issue_id]}}</span>
          </span>
          <!-- <span style="float:right">{{getPolicyInfo(policy)}}</span> -->
        </mat-card-subtitle>
        <mat-card-title>

          <!-- <span class="badge ascent">{{policy.amount | currency:defaultCurrency:true:'.0-0'}}</span> -->
          <span [class]="getBadgeClass(claim.status)">{{claimStatusLabel[claim.status]}}</span>
        </mat-card-title>
        <mat-card-content>
          <h6 style="text-align: center">{{appLabels.commonLabels.documentsSubmited}}</h6>

          <li class="p-b-10" *ngIf="claim.idProof">
            <a [href]="claim.idProof" target="_blank">{{appLabels.commonLabels.idProof}}</a>
          </li>
          <li class="p-b-10" *ngIf="claim.invoice">
            <a [href]="claim.invoice" target="_blank">{{appLabels.commonLabels.invoice}}</a>
          </li>
          <li class="p-b-10" *ngIf="claim.fir">
            <a [href]="claim.fir" target="_blank">{{appLabels.commonLabels.fir}}</a>
          </li>
          <li class="p-b-10" *ngIf="claim.videoProof">
            <a [href]="claim.videoProof">{{appLabels.commonLabels.video}}</a>
          </li>
          <li class="p-b-10" *ngIf="claim.expenseReciept">
            <a [href]="claim.expenseReciept" target="_blank">{{appLabels.commonLabels.expenseReciept}}</a>
          </li>
          <li class="p-b-10" *ngIf="claim.hospitalReport">
            <a [href]="claim.hospitalReport" target="_blank">{{appLabels.commonLabels.hospitalReport}}</a>
          </li>
          <li class="p-b-10" *ngFor="let url of claim.devicePhotos; let i = index">
            <a [href]="url" target="_blank">{{appLabels.commonLabels.devicePhotos}} #{{i + 1}}</a>
          </li>
          <li class="p-b-10" *ngFor="let url of claim.entityPhotos; let i = index">
            <a [href]="url" target="_blank">{{appLabels.commonLabels.entityPhotos}} #{{i + 1}}</a>
          </li>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button color="warn" *ngIf="policy.status != 4">Cancel</button>
          <button mat-button color="primary" *ngIf="policy.status == 0">Make Payement</button>
          <button mat-button color="primary" *ngIf="policy.status == 1">Generate Activation Link</button>
          <button mat-button color="primary" (click)="askConfirmationForClaim(policy)" *ngIf="policy.status == 3">Make Claim</button>
          <button mat-button color="primary" *ngIf="policy.status == '4'">View Claim Details</button>
          <button mat-button color="primary">View Policy Details</button>
        </mat-card-actions> -->
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
    <mat-card *ngIf="isResolved && claims.length == 0" class="col-sm-12 col-md-12 no-records-card">
      <h3>{{appLabels.commonLabels.noRecords}}</h3>
    </mat-card>

    <mat-card class="col-sm-12 col-md-12" *ngIf="isLoading">
      <mat-progress-spinner class="loader" mode="indeterminate"></mat-progress-spinner>
    </mat-card>
  </div>
</div>
