<div class="container">
  <div class="row policy-container">
    <div *ngFor="let policy of policies; let index = index" class="col-sm-12 col-md-12 card-container">
      <div class="ribbon">
        <div class="row">
          <div class="col-sm-12 col-md-8 container-cols">
            <span class="ribbon3 {{getRibbonClass(policy.StatusCode)}}">{{policy.StatusName}}</span>
            <div class="card-content">
              <span>#INS{{policy.Insurance_Id }}</span>

              <!-- <div>{{getPolicyInfo(policy)}}</div> -->
              <div>
                <span>Insurance Date - </span>{{getPolicyDate(policy.InsuranceDate)}}
              </div>
              <!-- <div>
                <span>Premium Amount - {{policy.PremiumAmount | currency:defaultCurrency:true:'.0-0'}}</span>
              </div> -->
            </div>
            <div class="card-actions">
              <button class="m-l-10" color="warn" mat-raised-button>
                  Premium Amount - {{policy.PremiumAmount | currency:defaultCurrency:true:'.0-0'}}
              </button>
              <button class="m-l-10" mat-mini-fab [matTooltip]="appLabel.buttonToViewPolicyDetails" color="primary">
                  <mat-icon svgIcon="insuranceDetailsIcon"></mat-icon>
                </button>
              <button class="m-l-10" mat-mini-fab [matTooltip]="appLabel.buttonToCancelPolicy" color="warn" *ngIf="policy.StatusCode != insuranceStatus.CLAIMED">
                <mat-icon svgIcon="cancelPolicyIcon"></mat-icon>
              </button>
              <button class="m-l-10" mat-mini-fab [matTooltip]="appLabel.buttonToMakePayment" color="primary" *ngIf="policy.StatusCode == insuranceStatus.PAYMENT_PENDING">
                <mat-icon svgIcon="paymentIcon"></mat-icon>
              </button>
              <button class="m-l-10" mat-mini-fab [matTooltip]="appLabel.buttonToGenerateActvLink" color="primary" *ngIf="policy.StatusCode == insuranceStatus.ACTIVATION_PENDING">
                <mat-icon svgIcon="activateLinkIcon"></mat-icon>
              </button>
              <button class="m-l-10 claim-button" mat-mini-fab [matTooltip]="appLabel.buttonToMakeClaim" color="primary" (click)="askConfirmationForClaim(policy, index)"
                *ngIf="policy.StatusCode == insuranceStatus.ACTIVATED">
                <mat-icon svgIcon="makeClaimIcon"></mat-icon>
              </button>
              <button class="m-l-10" mat-mini-fab [matTooltip]="appLabel.buttonToViewClaims" color="accent" (click)="navigateToClaimTab()"
                *ngIf="policy.StatusCode == insuranceStatus.CLAIMED">
                <mat-icon svgIcon="claimDetailsIcon"></mat-icon>
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 image-container">
            <img src="assets/images/sample/mobile.jpg" style="height: 100px" class="rounded" alt="Test">
            <div class="p-t-10">
              <i class="fa fa-mobile" aria-hidden="true"></i> {{policy.Device}}
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <div *ngIf="isResolved && policies.length == 0" class="col-sm-12 col-md-12 no-records-card">
      <div class="ribbon" style="min-height: 150px">
        <h3 style="margin-top: 60px">You have no policies</h3>
      </div>
    </div>

    <div class="col-sm-12 col-md-12" *ngIf="isLoading">
      <div class="ribbon" style="min-height: 150px">
        <mat-progress-spinner style="top: 28px" class="loader" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
    
    <div class="col-md-6 pading-10">
      <mat-card class="group">
        Group
      </mat-card>
    </div>
    <div class="col-md-6 pading-10">
      <mat-card class="weather">
        Climate
      </mat-card>
    </div>
  </div>
</div>
<ng-template let-data #claimConfirmationDialogRef>

  <h2 mat-dialog-title>{{appLabel.confirmationText}}</h2>
  <mat-dialog-content>
    <p>{{appLabel.claimConfirmTexts.title}}</p>
    <ul>
      <li>{{appLabel.claimConfirmTexts.idProof}}</li>
      <li>{{appLabel.claimConfirmTexts.invoice}}</li>
      <li>{{appLabel.claimConfirmTexts.fir}}</li>
      <li>{{appLabel.claimConfirmTexts.expenseReciept}}</li>
      <li>{{appLabel.claimConfirmTexts.videoDoc}}</li>
      <li>{{appLabel.claimConfirmTexts.devicePhotos}}</li>
      <li>{{appLabel.claimConfirmTexts.entityPhotos}}</li>
      <li>{{appLabel.claimConfirmTexts.hospitalReport}}</li>
    </ul>
  </mat-dialog-content>

  <mat-dialog-actions class="pull-right">
    <button mat-raised-button color="primary" (click)="claimConfirmDialogRef.close(true)">{{appLabel.claimConfirmTexts.confirmButton}}</button>
    <button mat-raised-button color="warn" (click)="claimConfirmDialogRef.close(false)">{{appLabel.claimConfirmTexts.declineButton}}</button>
  </mat-dialog-actions>
</ng-template>